@using TeamITG.Interview.Website.Web.ViewModels;
@model PagedNewsList



<section id="services" class="services">

      <div class="container">
        <div class="section-title">
            <h2>*News*</h2>
        </div>
            
        <partial name="/Views/Shared/_NewsItems.cshtml" />

        <div class="row">    
            <a id="click-more-news-link" href="#">Show More...</a>
        </div>
      </div>
</section>



